body {
    text-align: center;
    margin: 200px;
    padding: 100px;
    border: 1px solid black;
    box-shadow: 10px 10px 10px gray;
}

#div1 {
    text-align: center;
    height: 100px;
    width: 100px;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 10px 10px 10px gray;
}

#arekta-div {
    text-align: center;
    height: 100px;
    width: 100px;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 10px 10px 10px gray;
}

#pond {
    display: flex;
    justify-content: flex-end;
}